// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile_icon {
	margin-bottom: 20px;
}

.introduction-header {
	margin-top: 10px;
	p {
		font-weight: bold;
	}
}
.introduction {
	margin-top: 5px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}

.under_menu {

	border-top: 3px solid white;
	border-bottom: 3px solid white;
	height: 50px;
	padding-top: 5px;
	margin-top: 20px;

	li {
		display: inline-block;
		text-align: center;
		margin: 0 auto;
	}
	div {
		text-align: center;
		margin: 0 auto;
	}
}

.post_form {
	border-right: 3px solid white;
	border-left: 3px solid white;
	h4 {
		font-weight: bold;
		color: #6d6d6d;
	}
}

.mypage_btn {
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.mypage_body {
	margin-top: 50px;
}