
<!-- モーダル・ダイアログ -->
<div class="modal fade" id="SearchModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>×</span></button>
        <h4 class="modal-title">検索フォーム</h4>
      </div>
      <div class="modal-body">
        <div class="search_form form-inline" >
          <%= form_tag(search_path, method: :get) do %>
            <%= select_tag 'select_model' ,options_for_select([['ユーザー', 'user'],['投稿','post']]),class: "form-control", style: "width: 100px;" %>
            <%= text_field_tag (:word), "", class: "form-control",style: "width: 50%" %>
            <%= submit_tag "検索", class: "btn btn-default" %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>